<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dream Car Rental</title>
        @Styles.Render("~/Content/css")
        <link href="~/Content/Admin.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>
        #wrapper.active #sidebar-wrapper {
            left: 50px;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Dream Car Rental", "Dashboard", "Admin", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div id="navbar" class="navbar navbar-default navbar-fixed-top">
                <ul class="nav nav-stacked" id="menu-bar">
                    <li>@Html.ActionLink("Home", "Dashboard", "Admin")</li>
                    <li class="panel dropdown">
                        <a data-toggle="collapse" data-parent="#menu-bar" href="#collapseOne">
                            Employees
                        </a>
                        <ul id="collapseOne" class="panel-collapse collapse">
                            <li>@Html.ActionLink("Manage Employees", "Index", "Employee")</li>
                            <li>@Html.ActionLink("Add a new Employee", "Create", "Employee")</li>
                        </ul>
                    </li>
                    <li class="panel dropdown">
                        <a data-toggle="collapse" data-parent="#menu-bar" href="#collapseTwo">
                            Customers
                        </a>
                        <ul id="collapseTwo" class="panel-collapse collapse">
                            <li>@Html.ActionLink("Manage Customers", "AllCustomersDetails", "Customer")</li>
                            @*<li><a href="#">Add a new Customer</a></li>*@
                        </ul>
                    </li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix"></div>
        <div class="col-md-8">
            <div class="content">
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Dream Car Rental</p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
            


            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")

            <link href="~/Content/bootstrap_datepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />


            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>

            <script src="~/Content/bootstrap_datepicker/bootstrap-datetimepicker.min.js"></script>
            <script src="~/Scripts/PanelControl.js"></script>
            <script>
                var $window = $(window),
                $html = $('#menu-bar');

                $window.resize(function resize() {
                    if ($window.width() < 768) {
                        // When the side bar is moved to the top, this stops it being fixed in place
                        $("#navbar").removeClass('navbar-fixed-top');
                        return $html.removeClass('nav-stacked');
                    }
                    $("#navbar").addClass('navbar-fixed-top');
                    $html.addClass('nav-stacked');
                }).trigger('resize');
            </script>
            @RenderSection("scripts", required: false)
</body>
</html>
