@model IEnumerable<CRMS_Data.Entities.Vehicle>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

@{
    var message = TempData["Message"] ?? string.Empty;
}

<div class="col-sm-12" id="profile">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <span class="pull-right removable" data-effect="remove"><i class="glyphicon glyphicon-remove"></i></span>
                    <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
                    <h3 class="panel-title title">All Vehicles Details</h3>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body table-responsive">
                    <p>
                        @Html.ActionLink("Add a New Vehicle", "Create", "Vehicle", new { }, new { @class = "btn btn-info btn-sm" })
                        @Html.ActionLink("Refreash", "Index", new { }, new { @class = "btn btn-info btn-sm" })
                    </p>
                    @using (Html.BeginForm("Index", "Vehicle", FormMethod.Get))
                    {
                        <p>
                            <div class="form-group">
                                <label class="control-label">Find By Name/Brand</label>
                                <div class="input-group">
                                    <span class="input-group-addon input-sm">$</span>
                                    @Html.TextBox("SearchString", "", new { @class = "form-control input-sm", required = "required" })
                                    <input type="submit" class="btn btn-default btn-sm" value="Search" />
                                </div>
                            </div>
                        </p>
                    }
                    
                    <table class="table table-responsive table-bordered table-hover table-condensed">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.VehicleName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Brand)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Photo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Details)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Capacity)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CostPerHour)
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.VehicleName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Brand)
                                </td>
                                <td>
                                    <span style="height: 150px;width: 150px;"><img id="Photo1" src="data:image/gif;base64,@Html.DisplayFor(modelItem => item.Photo)" style="height: 150px; width: 150px;" /></span>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Details)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Capacity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CostPerHour)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.VehicleId }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.VehicleId }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.VehicleId })
                                </td>
                            </tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript">
        var message = '@message';
        if (message)
            alert(message);
    </script>



}

